
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.body{

}
/* header section style */
.header{
  
    background-color: rgb(255, 244, 230);
    
}
.header-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-content h3{ 
    width:302px;
color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 25px;
font-weight: 700;
line-height: 53px;
letter-spacing: 0%;
position:relative ;
left:90px;
}
#hamburk{
    display:none;
}
.navbar ul {
    display:flex;
}
.navbar ul li {
    list-style:none;
    margin-right:30px;
}
.navbar ul li a{
    text-decoration: none;
    color:rgb(66, 66, 66);
    font-family:Work Sans;
    font-size:15px;
    font-weight: 500;
    line-height: 26px;
    position:relative;
    right:90px;
}
/* banner style  */
.banner{
    width:1220px;
    margin:0 auto;
    padding:70px;
    text-align: center;
}
.banner-content{
width:800px;
height: 225px;
margin:0 auto;
}
.banner-title{
 color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 64px;
font-weight: 700;
line-height: 65px;
letter-spacing: 0%;
margin-bottom:20px;
}
.banner-description{
color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;

}
/* button style */
.explore-btn{
    display: flex;
    justify-content: center;
    margin-top:15px;
}
.Explore {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
background: rgb(255, 144, 14);
padding:10px 13px;
border:none;
cursor: pointer;
}
.explore button{
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    background: rgb(255, 144, 14);
    padding:10px;
    border:none;
    cursor:pointer;
}
.Explore:hover{
    background-color: rgb(51, 112, 255);
    color:black;
    transition: 0.6s;
    transform: translate3d(10px, 50%, 3em);
    border:1px solid black;
}
/* banner image style  */
.banner-image img{
    width:1050px;
    height: 420px;
   margin-top:40px;
}
/* feature style  */
.features{
    display:flex;
    align-items: center;
    justify-content:center ;
}
.feature-image img{
height: 250px;
}
.feature-image{
    display:grid;
    grid-template-columns: repeat(2,250px);
    gap:20px;
   margin-top:60px;
}
.quick-list{
    width:550px;
    margin-left:50px;
}
.quick-title{
 font-family: Work Sans;
font-size: 44px;
font-weight: 700;
line-height: 53px;
letter-spacing: 0%;
}
.quick{
    color:rgb(114, 114, 114);
}
.feature-title{
    color:rgb(255, 144, 14);
}
.quick-description{
color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
margin-top:10px;
margin-bottom:14px;
}
/* feature enjoy */
.feature-enjoy{
    width:550px;
}
.feature-enjoy h3{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    margin-top:50px;
}
.feature-enjoy>p{
color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 13px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
margin-top:10px;
margin-bottom:10PX;
}
.mobile ,.drag ,.design ,.super{
    width:420px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:15px;
}
.drag{
    margin-top:10px;
}
.design{
    margin-top:10px;
}
.super{
    margin-top:10px;
}
.mobile-title , .drag-title,.design-title,.super-title {
 color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 13px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
margin-bottom:0px;
}
.mobile-description ,.drag-description ,.design-description ,.super-description{
margin-bottom:5px;
margin-top:0px;
color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 13px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
}
    
 /* architect image style */
 .architect-image img{
    width:450px;
    height: 690px;
    margin-top:90px;
 }
 .enjoy{
    display:flex;
    justify-content: space-evenly;
 }